html,
body,
.container-fluid,
.row {
    height: 100%;
}

body {
    background-image: url("../images/vintage-concrete.png");
}

.hipster-container {
    background-color: rgba(255,255,255,0.5);
    border-right: 2px dashed #05383E;
}

.hipster-container img {
    height: 98%;
}

h1 {
    font-family: 'Rye', cursive;
    font-size: 4.5rem;
    color: #05383E;
}

h2 {
    padding-left: .4rem;
}

h2,
.stat {
    font-family: 'Wire One', sans-serif;
    display: inline-block;
    margin: .2em 0 .2em 0;
    line-height: 1.2;
    font-size: 2rem;
}

.letters {
    font-family: 'Anonymous Pro', monospace;
    font-size: 4rem;
    letter-spacing: 5px;
    text-indent: 5px;
}

.scoring {
    color: white;
}

.scoring:nth-of-type(2) {
    background-color: #02A6A7;
}

.scoring:nth-of-type(3) {
    background-color: #DF543B;
}

.mustache-icon {
    vertical-align: text-top;
    margin-left: 10px;
}

.bar {
    height: 52px;
    z-index: -1;
}

.bar-item {
    background-color: #05383E;
    height: 100%;
}

.column {
    padding: 0;
}